h1 {margin-left: 25%;
}
h2 {margin-left: 2%;
}
h3 {margin-left: 2%;
}
h4 {margin-left: 2%;
}


#img1 {margin-left: 40%;
}

#img2 {margin-left: 17%;
}

#img3 {margin-left: 40%;
}

body {background-color: cornflowerblue;
}


